.template-blog .article-loop__date {
  text-transform: uppercase;
  margin-bottom: var(--space-2);
}

.template-blog .blog-template__tags--tag a {
  border: 1px solid var(--text-color);
}

.template-blog .blog-template__tags--tag a {
  font-size: var(--font-size);
  font-stretch: normal;
  font-style: normal;
  height: 40px;
  line-height: 40px;
  letter-spacing: var(--buttons-spacing);
  text-transform: var(--buttons-transform);
  padding: 0 var(--space-4);
  color: var(--text-color);
  display: inline-block;
  margin-bottom: 0;
}

@media (max-width: 767px) {
  .blog_article-comments-link {
    width: 50% !important;
  }
}

.article-headline__links {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
}
